* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
}
body {
  background-color: #385076;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCont {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 22rem;
  width: 100%;
  max-width: 23rem;
  border-radius: 0.5rem;
  position: absolute;
  transition: translate 0.5s ease, width 0.5s ease, transform 0.5s ease;
  transform: scale(0.1);
  translate: 0rem -30rem 0;
  visibility: hidden;
}
.topInc {
  transform: scale(1);
  translate: 0rem 0rem 0;
  visibility: visible;
}
.tickBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  font-weight: 700;
  height: 6rem;
  width: 6rem;
  background-color: #62b845;
  border-radius: 50%;
  position: absolute;
  top: -3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 2.5rem;
}
p {
  text-align: center;
  padding: 0rem 2rem;
}
.btnOk {
  background-color: #62b845;
  color: white;
  border: none;
  width: 100%;
  max-width: 15rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.subBtnBox .btn {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #d3d5d8;
}
